.contacts{
    background-image: url("https://wallpapercave.com/wp/wp4863905.jpg");
    
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
}

.tx{

    opacity: 2.00;
    margin-top: 50px;

}