.jumbotrons{
    background-image: url("https://wallpaperaccess.com/full/1510520.jpg");
    background-size: cover;
    height: 100%;
    opacity: 0.85;
    color:black;
    
}

.tx{

    opacity: 2.00;
    margin-top: 50px;

}

